body {
    margin: 60px auto;
    width: 70%;
    background: #2c2b2b;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 1.3em;
    color: #999;
}
nav {
    padding-top: 5px;
}

.navbar-default {
    background: #477fda;
    border-color: #477fda;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 1.2em;
    color: #2c2b2b;
}
.navbar-collapse {
    color:#2c2b2b;
}
.navbar-custom {
    color: #2c2b2b!important;
    background: #477fda;
}
nav ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-size: 1.2em;
    color: #2c2b2b;
    background: #477fda;
}

footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-size: 1.5em;
}

li.nav {
    float: left;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}

a:visited {
    text-decoration: none;
    color: #999;
}

a:hover {
    text-decoration: none;
}
a.nav {
    color: #2c2b2b;
}
a.nav:hover {
    color: #ee1010;
    text-decoration: none;
}

.block {
    font-size: 1em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #999;
}

h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-style: italic;
    font-weight: normal;
    color: #477fda
}
h2 {
    font-size: 2.2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-style: italic;
    font-weight: normal;
    color: #477fda;
    padding-bottom: 10px;
}
p {
    font-size: 1.3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    /* line-height: 1.4em; */
    color: #999;
}
footer {
    border-top: 1px solid #73a1eb;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 1em;
    color: #999
}

/* list style for posts */
ul.posts { 
    margin: 20px auto 40px;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 1.3em;
    color: #73a1eb
}

.row {
    padding-bottom: 10px;
}

ul.posts li {
    list-style: none;
}

/* style for listing robots */
ul.robots { 
    margin: 20px auto 40px;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 1.3em;
    color: #999;
}
ul.robots li {
    list-style: none;
    color: #73a1eb;
}
a.robots {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 1.3em;
    color: #73a1eb;
}

td.robots {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 1.3em;
    color: #999;
}

/* .big and .small are used to display text in header of website */
.big {
    font-size: 4em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-style: italic;
    font-weight: normal;
    color: #477fda
}
.small {
    font-size: 1em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-style: normal;
    text-decoration: none;
    color: #999
}

/* Properties of website logo */
#logo {
    width: 100px;
    height: 100px;
    padding-right: 20px;
}
